
.ingresar{
    background-color: green;
    border: none;
    color: white;
    border-radius: 2px;
    padding: 5px;
    margin-top: 10px;
    
}

.login{
    margin-bottom: 10px;
}

.footer{
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.info{
    color:#bdbcbc;
    font-size: 12px;
}

.linkedin{
    text-decoration: none;
    color:aqua;
}

.campos{
    width: 350px;
    padding: 3px;
    border: 2px solid #dedede;
}